"*":
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        "flake8rc"
        "pylintrc"
      ]
    disabledPackages: [
      "linter-mypy"
      "language-python"
      "language-gfm"
      "whitespace"
      "wrap-guide"
      "linter-pydocstyle"
    ]
    projectHome: "/Users/waksman/git"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "98d14cbf-d2f5-787a-7c5a-eb08daa3c261"
  "linter-flake8":
    projectConfigFile: [
      ".flake8rc"
    ]
  "linter-mypy": {}
  "linter-pylint": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "omni-ruler":
    columns: [
      "72"
      "80"
      "100"
      "120"
    ]
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "seti-ui":
    compactView: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
