"*":
  "atom-beautify":
    general:
      analytics: false
    haskell:
      beautify_on_save: true
    puppet: {}
  "atom-clock":
    dateFormat: "YYYY-MM-DDTHH:mm:ssZ"
    showUTC: true
  "autocomplete-paths":
    maxFileCount: 10000
  "autocomplete-plus":
    confirmCompletion: "tab"
    strictMatching: true
  "autocomplete-python":
    useKite: false
  "copy-as-rtf":
    fontface: "Fira Code"
    fontsize: 12
  core:
    customFileTypes:
      "source.ini": [
        "flake8rc"
        "pylintrc"
      ]
      "text.html.mako": [
        "tmpl"
      ]
    disabledPackages: [
      "exception-reporting"
      "language-gfm"
      "language-python"
      "spell-check"
      "whitespace"
      "wrap-guide"
      "git-plus"
      "atom-beautify"
      "autocomplete-haskell"
      "build-cargo"
      "haskell-ghc-mod"
      "ide-haskell"
      "ide-haskell-cabal"
      "ide-haskell-hasktags"
      "linter-pydocstyle"
      "minimap-linter"
      "racer"
      "tree-view-git-status"
    ]
    projectHome: "/Users/waksman/git"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 9
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  fonts:
    fontFamily: "FiraCode"
  "git-blame":
    columnWidth: 366
  "ide-haskell": {}
  linter:
    disabledProviders: [
      "linter-mypy"
      "JSHint"
    ]
  "linter-flake8":
    projectConfigFile: [
      ".flake8rc"
    ]
  "linter-mypy":
    mypyPath: "$PROJECT_PATH/stubs"
  "linter-puppet-lint":
    oldVersion: false
  "linter-pylint":
    disableTimeout: true
    messageFormat: "%s %m"
  "linter-spell":
    spellPath: "aspell"
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    showProviderName: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "multi-wrap-guide":
    columns: [
      79
      100
      120
    ]
  "one-dark-ui":
    fontSize: 9
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view": {}
  pigments:
    notifyReloads: false
  "pristine-ui":
    fontSize: 8
  tasks: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 120
  "multi-wrap-guide":
    columns: [
      79
      100
      120
    ]
".pgsql.source":
  editor:
    preferredLineLength: 120
  "multi-wrap-guide":
    columns: [
      79
      100
      120
    ]
".plain.text":
  editor:
    preferredLineLength: 120
  "multi-wrap-guide":
    columns: [
      79
      100
      120
    ]
