packages: [
  "MagicPython"
  "atom-beautify"
  "atom-fix-path"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-monokai"
  "autocomplete-haskell"
  "autocomplete-paths"
  "autocomplete-python"
  "build-cargo"
  "busy-signal"
  "copy-as-rtf"
  "editorconfig"
  "file-icons"
  "fonts"
  "genesis-syntax"
  "genesis-ui"
  "git-blame"
  "haskell-ghc-mod"
  "highlight-selected"
  "ide-haskell"
  "ide-haskell-cabal"
  "ide-haskell-hasktags"
  "intentions"
  "isotope-ui"
  "language-crontab"
  "language-docker"
  "language-gitignore"
  "language-haskell"
  "language-ini"
  "language-mako"
  "language-markdown"
  "language-pgsql"
  "language-puppet"
  "language-restructuredtext"
  "language-rust"
  "language-scheme"
  "language-terraform"
  "lines"
  "linter"
  "linter-flake8"
  "linter-markdown"
  "linter-markdownlint"
  "linter-mypy"
  "linter-puppet-lint"
  "linter-pydocstyle"
  "linter-pylint"
  "linter-rust"
  "linter-spell"
  "linter-terraform-syntax"
  "linter-ui-default"
  "minimap"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "multi-wrap-guide"
  "neutron-syntax"
  "neutron-ui"
  "package-sync"
  "pigments"
  "project-manager"
  "racer"
  "rst-preview"
  "seti-syntax"
  "seti-ui"
  "tree-view-git-status"
]
