packages: [
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "autocomplete-haskell"
  "editorconfig"
  "haskell-ghc-mod"
  "ide-haskell"
  "ide-haskell-cabal"
  "language-crontab"
  "language-docker"
  "language-gitignore"
  "language-haskell"
  "language-ini"
  "language-markdown"
  "language-pgsql"
  "language-restructuredtext"
  "language-scheme"
  "linter"
  "linter-flake8"
  "linter-mypy"
  "linter-pydocstyle"
  "linter-pylint"
  "MagicPython"
  "minimap"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-linter"
  "neutron-syntax"
  "neutron-ui"
  "package-sync"
  "rst-preview"
  "seti-syntax"
  "seti-ui"
]
